html * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: darkslategray;
}
 
main {
    display:flex;
    flex-direction: column;
    min-height: 100vh;
    max-width: 1200px;
    margin: 0 auto;
    background-color: antiquewhite; 
    color: teal;
 }
 
 header {
    display: flex;
    justify-content: space-between;
    background-image: url(https://img.freepik.com/free-photo/sky_53876-47159.jpg?w=826&t=st=1682554898~exp=1682555498~hmac=a316ba94e469812174888dc41a93168f101e8320bab0fd0397e8144f6cd2001f);
    background-size: cover;
    border-radius: 5px;
    height: 150px;
    color:rgb(242, 255, 255);
    padding:5px;
 }

nav {
    display:flex;
    justify-content: space-evenly;
}

nav a {
    display:flex;
    margin: 3px;
    font-size: 20px;
    border: solid 2px rgb(242, 255, 255);
    color: rgb(242, 255, 255);
    height: 30px
}
nav a:hover {
    color:grey;
    border: grey dashed 2px;
}

.about {
    display:flex;
}

.about img {
    max-width: 45%;
    align-items: flex-start;
    flex:0;
}

.about p {
    flex:1;
    padding: 10px;
    align-items: flex-end;
}

.works {
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: space-between;
 }

 .work {
    position: relative;
    display:inline-block;
    width: 50%;
    color: teal;
 }

 .featured {
    width: 100%;
    color: teal;
 }

 .img {
    width:100%;
    padding:10px;
 }

 .caption{
    position:absolute;
    margin: 10px;
    padding:7px;
    background-color: rgb(242, 255, 255);
    border: 1px solid teal;
 }
 
 div a:hover{
    border:3px dashed teal;
 }
 
 footer{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    background-image: url("https://cdn.pixabay.com/photo/2018/04/06/00/25/trees-3294681_960_720.jpg");
    background-size: cover;
    border-radius: 5px;
    height: 100px;
    color:rgb(242, 255, 255);
    padding:5px;
 }

 footer nav a:hover {
    color:orange;
    border: orange dashed 2px;

@media  and (max-width: 576px) {
    header{
        width: 100%;
    }
    .work {
        width:100%;
    }
    footer {
        width:100%;
    }
}