html * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: darkslategray;
}
 
main {
    display:flex;
    flex-direction:column;
    min-height: 100vh;
    max-width: 1200;
    margin: 0 auto;
    background-color: antiquewhite; 
    color: teal;
 }
 
 header {
    display: flex;
    justify-content: space-between;
    background-image: url("https://cdn.pixabay.com/photo/2018/04/06/00/25/trees-3294681_960_720.jpg");
    background-size: cover;
    border-radius: 5px;
    height: 150px;
 }

nav {
    display:flex;
    justify-content: flex-end;
}
a {
    display:flex;
    margin: 3px;
    font-size: 20px;
    border: solid 2px rgb(242, 255, 255);
    color: rgb(242, 255, 255);;
    height: 30px
}
a:hover {
    color:grey;
    border: grey dashed 2px;
}
section{
    display: flex;
    height: 56px;
    background-color: blue;
}